asgiref==3.4.1
beautifulsoup4==4.6.0
certifi==2021.10.8
charset-normalizer==2.0.8
click==8.0.3
colorama==0.4.4
commandlines==0.4.1
cycler==0.11.0
Django==3.2.9
filetype==1.0.8
Flask==2.0.2
fonttools==4.28.2
hsh==1.1.0
idna==3.3
imageio==2.13.1
itsdangerous==2.0.1
Jinja2==3.0.3
JPype1 @ file:///D:/MEMO-Web/JPype1-1.1.2-cp38-cp38-win_amd64.whl
kiwisolver==1.3.2
konlpy==0.5.2
llvmlite==0.37.0
lxml==4.6.4
MarkupSafe==2.0.1
matplotlib==3.5.0
networkx==2.6.3
numba==0.54.1
numpy==1.20.0
oauthlib==3.1.1
packaging==21.3
Pillow==8.4.0
PyMatting==1.1.4
pyparsing==3.0.6
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.2.0
rembg==1.0.27
requests==2.26.0
requests-oauthlib==1.3.0
scikit-image==0.18.3
scipy==1.7.3
setuptools-scm==6.3.2
six==1.16.0
sqlparse==0.4.2
tifffile==2021.11.2
tomli==1.2.2
torch==1.10.0
torchvision==0.11.1
tqdm==4.62.3
tweepy==3.10.0
typing_extensions==4.0.1
urllib3==1.26.7
waitress==2.0.0
Werkzeug==2.0.2
