body{
  margin: 0;
  overflow: hidden;
}

@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EliceDigitalBaeum_Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF_IceLemon';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceLemon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IM_Hyemin-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HSYuji-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.tab_menu{
  position:relative;
  top: 15px;
}

.tab_menu .list{
  overflow:hidden;
  list-style:none;
  padding-left:0px;
}

.tab_menu .list li{
  float:left; 
}

.tab_menu .list li.is_on .btn{
  background-color: #F5F5DC;
}

.tab_menu .list .btn{
  width: 121.8px;
  height: 37.2px;
  font-size:25px;
  background-color: white;
  color: #000;
  border: 0;
  font-family: 'Jua', sans-serif;
}

.tab_menu .list .btn:hover{
  background-color: #F5F5DC;
}

.diary_paper{
  margin: 0;
  position: absolute;
  top:35px;
  left:0;
  background-color: #F5F5DC;
  width:60%; 
  height:680px; 
  line-height:100px;
}

.select button{
  color: #000;
  border: 0;
  font-size: 30px;
  font-family: 'Jua', sans-serif;
  background-color: #F5F5DC;
  position: relative;
  left: 10;
  bottom:25;
  margin-right: 10;
}

.select button:hover{
  background-color: #E5D0AD;
}

.tab_menu .cont_area .cont{
  display:none;
  margin: 0;
  position:absolute; 
  top:35px; 
  left:60%; 
  background:#F5F5DC; 
  color: black;
  width:40%; 
  height:680px; 
  line-height:45px;
}

#write select{
  position: relative;
  top: 10px;
  width: 100px;
  padding: .4em .5em; 
  font-family: 'Jua', sans-serif; 
  border: 1px solid #999; 
  font-size: 18px;
}

#write input{
  position: relative;
  top: 10px;
  width: 100px;
  /* height: 36.4px; */
  padding: .4em .5em; 
  font-family: 'Jua', sans-serif; 
  border: 1px solid #999; 
  font-size: 18px;
}

#write button{
  position: relative;
  top: 10px;
  width: 50px;
  height: 36.4px;
  padding: .4em .5em; 
  font-family: 'Jua', sans-serif; 
  border: 1px solid #999; 
  font-size: 18px;
  background-color: #E5D0AD;
  border: 0;
}

.image-upload {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

.fileBox {
  position: relative;
  top: 10px;
  display: flex;
  justify-content: center;
}

#forms label {
  display: inline-block; 
  padding: .5em .75em; 
  font-size: 18px; 
  font-family: 'Jua', sans-serif; 
  line-height: normal; 
  vertical-align: middle; 
  cursor: pointer;
  border-bottom-color: #e2e2e2; 
  border-radius: .25em;
}

#forms input{
  display: none;
}

.fileBox label:hover {
  background-color: #E5D0AD;
}

#fileName {
  margin-left: 5px;
}

.fileInput {
  display: flex;
  align-items: center;
  border-bottom: solid 2px #E5D0AD;
  width: 70%;
  height: 38px;
  margin-left: 15px;
}

.imgSubmit {
  width: 84%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  background-color: #E5D0AD;
  border-radius: 15px;
  padding: 10px;
  font-family: 'Jua', sans-serif; 
  font-size: 18px;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.editBox .editBoxM button{
  background-color: #E5D0AD;
  border: 0;
  font-size: 20px;
  font-family: 'Jua', sans-serif;
  border-radius: 13px;
  height:33px;
  cursor: pointer;
}

.ticketForm2{
  width: 55%;
  padding: .4em .5em; 
  font-family: 'Jua', sans-serif; 
  border: 0; 
  font-size: 18px;
  left: 10px;
}

#selectImg{
  width: 30%;
  height: 35px;
  padding: .4em .5em; 
  font-family: 'Jua', sans-serif; 
  border: 0; 
  font-size: 18px;
  margin-left: 15px;
}

#photo input{
  width: 13%;
  height: 35px;
}

#photo span{
  font-family: 'Jua', sans-serif; 
  font-size: 22px;
}

.image-show {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84%;
  height: 53%;
  margin-left: 55px;
  margin-top: 30px;
  background-color: white;
  border: 0;
}

.image {
  width: auto;
  height: auto;
  max-width: 500px;
  max-height: 330px;
  visibility: hidden;
}

.imgSetting button{
  height: 35px;
  width: 35px;
  background-color: #E5D0AD;
  font-family: 'Jua', sans-serif; 
  border: 0; 
  font-size: 18px;
  cursor: pointer;
}
