{% extends "diary/base.html"%}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <form method="post" class="post-form my-3">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for field in form %}
                        {% if field.errors %}
                            <strong>{{ field.label }}</strong>
                            {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="row mx-5">
                <!-- 제목 입력 폼 -->
                <div class="col-md-8"> 
                    <div class="form-group"> 
                        <label for="name" class="text-primary">Title</label> 
                        <input type="text" class="form-control" name="title" id="title" placeholder="Enter Title"
                               value="{{ form.title.value|default_if_none:'' }}"> 
                    </div> 
                </div>
                <!-- //글내용 입력 폼  -->
                <div class="col-md-12 form-group">  
                    <label for="content" class="text-primary">Diary:</label> 
                    <textarea class="form-control" rows="10" name="content" id="content">{{ form.content.value|default_if_none:'' }}</textarea>
                </div> 
                <!-- //버튼 저장하기 -->
                <div class="container mt-4" style='width:100px'> 
                    <button type="submit" class="btn btn-primary">save</button>
                </div>  
            </div>
        </form>
    </div>
</div>
{% endblock %}