{% load static %}

<head>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/tab.css' %}">
  <script src="{% static 'js/write.js' %}"></script>

</head>

<body>
  <div class="tab_menu">
    <ul class="list">
      <li class="is_on">
        <button href="#write" class="btn" onclick="writeClick()">일기작성</button>
      </li>
      <li>
        <button href="#tab2" class="btn" onclick="backgroundClick()">배경선택</button>
      </li>
      <li>
        <button href="#photo" class="btn" onclick="photoClick()">사진업로드</button>
      </li>
      <li>
        <button href="#tab4" class="btn" onclick="hashClick()">해시태그</button>
      </li>
      <li>
        <button href="#tab5" class="btn" onclick="stickerClick()">스티커</button>
      </li>
    </ul>

    <form method="POST" name="edit_form" action="{% url 'diary:decorate' %}" enctype="multipart/form-data">

      {% csrf_token %}

      <div class="diary_paper">
        <canvas id="paper" width="880" height="600"
          style="background-color: white; border: #F5F5DC 10px solid;"></canvas>
        <div class="select">
          <button type="submit">저장</button>
          <button type="button">취소</button>
          <input type="hidden" name="selectEdit" id="selectEdit" value="write">
        </div>
      </div>

      <div class="cont_area">

        <div id="write" class="cont" style="display:block;">
          <select id="fontSelect" onchange="totalCanvas()">
            <option selected value="GowunDodum-Regular" style="font-family: 'GowunDodum-Regular';">고운돋움</option>
            <option value="EliceDigitalBaeum_Regular" style="font-family: 'EliceDigitalBaeum_Regular';">엘리스</option>
            <option value="SF_IceLemon" style="font-family: 'SF_IceLemon';">레몬빙수</option>
            <option value="IM_Hyemin-Regular" style="font-family: 'IM_Hyemin-Regular';">IM혜민체</option>
            <option value="HSYuji-Regular" style="font-family: 'HSYuji-Regular';">HS유지</option>
          </select>
          <input id="fontSize" name="fontSize" type="text" value="18" oninput="totalCanvas()">
          <select id="fontColorSelect" onchange="settingRGB(this); totalCanvas();">
            <option selected value="rgb(0,0,0)" style="color: rgb(0,0,0);">검정</option>
            <option value="rgb(255,0,0)" style="color: rgb(255,0,0);">빨강</option>
            <option value="rgb(0,255,0)" style="color: rgb(0,255,0);">초록</option>
            <option value="rgb(0,0,255)" style="color: rgb(0,0,255);">파랑</option>
            <option value="rgb(235,211,176)" style="color: rgb(235,211,176);">베이지</option>
            <option id=setRGB value="">RGB입력</option>
          </select> &nbsp;&nbsp;
          <a id="rgb1" style="font-family: 'Jua', sans-serif; font-size: 18px; visibility: hidden;">R</a>
          <input type="text" name="R" id="R" style="width: 50px; visibility: hidden;" value="0">
          <a id="rgb2" style="font-family: 'Jua', sans-serif; font-size: 18px; visibility: hidden;">G</a>
          <input type="text" name="G" id="G" style="width: 50px; visibility: hidden;" value="0">
          <a id="rgb3" style="font-family: 'Jua', sans-serif; font-size: 18px; visibility: hidden;">B</a>
          <input type="text" name="B" id="B" style="width: 50px; visibility: hidden;" value="0">
          <br>
          <span style="font-family: 'Jua', sans-serif; font-size: 22px;">다이어리에서 원하는 위치를 클릭하고 일기를 작성해보세요!</span>
          <textarea type="text" id="UserInput" name="UserInput" cols="80" rows="35"></textarea>
          <input type="hidden" name="coordinateX" id="coordinateX" value="">
          <input type="hidden" name="coordinateY" id="coordinateY" value="">
          <input type="hidden" name="font" id="font" value="">
          <input type="hidden" name="fontColor" id="fontColor" value="">
        </div>

        <div id="tab2" class="cont">
          Tab Content2
        </div>

        <div id="photo" class="cont">
          <div class="image-upload" id="image-upload">
            <div class="fileBox">
              <input type="hidden" id="img_count" name="img_count" value="">

              <div id="forms">

                <label id="label1" for="chooseFile1" style="display: block;"> 불러오기</label>
                <input type="file" id="chooseFile1" name="img1" accept="image/*" onchange="loadFile(this)">

                <label id="label2" for="chooseFile2"> 불러오기</label>
                <input type="file" id="chooseFile2" name="img2" accept="image/*" onchange="loadFile(this)">

                <label id="label3" for="chooseFile3"> 불러오기</label>
                <input type="file" id="chooseFile3" name="img3" accept="image/*" onchange="loadFile(this)">

                <label id="label4" for="chooseFile4"> 불러오기</label>
                <input type="file" id="chooseFile4" name="img4" accept="image/*" onchange="loadFile(this)">

                <label id="label5" for="chooseFile5"> 불러오기</label>
                <input type="file" id="chooseFile5" name="img5" accept="image/*" onchange="loadFile(this)">

                <label id="label6" for="chooseFile6"> 불러오기</label>
                <input type="file" id="chooseFile6" name="img6" accept="image/*" onchange="loadFile(this)">

                <label id="label7" for="chooseFile7"> 불러오기</label>
                <input type="file" id="chooseFile7" name="img7" accept="image/*" onchange="loadFile(this)">

                <label id="label8" for="chooseFile8"> 불러오기</label>
                <input type="file" id="chooseFile8" name="img8" accept="image/*" onchange="loadFile(this)">

                <label id="label9" for="chooseFile9"> 불러오기</label>
                <input type="file" id="chooseFile9" name="img9" accept="image/*" onchange="loadFile(this)">

                <label id="label10" for="chooseFile10"> 불러오기</label>
                <input type="file" id="chooseFile10" name="img10" accept="image/*" onchange="loadFile(this)">

                <label id="label11" for="chooseFile11"> 불러오기</label>
                <input type="file" id="chooseFile11" name="img11" accept="image/*" onchange="loadFile(this)">

                <label id="label12" for="chooseFile12"> 불러오기</label>
                <input type="file" id="chooseFile12" name="img12" accept="image/*" onchange="loadFile(this)">

                <label id="label13" for="chooseFile13"> 불러오기</label>
                <input type="file" id="chooseFile13" name="img13" accept="image/*" onchange="loadFile(this)">

                <label id="label14" for="chooseFile14"> 불러오기</label>
                <input type="file" id="chooseFile14" name="img14" accept="image/*" onchange="loadFile(this)">

                <label id="label15" for="chooseFile15"> 불러오기</label>
                <input type="file" id="chooseFile15" name="img15" accept="image/*" onchange="loadFile(this)">

                <label id="label16" for="chooseFile16"> 불러오기</label>
                <input type="file" id="chooseFile16" name="img16" accept="image/*" onchange="loadFile(this)">

                <label id="label17" for="chooseFile17"> 불러오기</label>
                <input type="file" id="chooseFile17" name="img17" accept="image/*" onchange="loadFile(this)">

                <label id="label18" for="chooseFile18"> 불러오기</label>
                <input type="file" id="chooseFile18" name="img18" accept="image/*" onchange="loadFile(this)">

                <label id="label19" for="chooseFile19"> 불러오기</label>
                <input type="file" id="chooseFile19" name="img19" accept="image/*" onchange="loadFile(this)">

                <label id="label20" for="chooseFile20"> 불러오기</label>
                <input type="file" id="chooseFile20" name="img20" accept="image/*" onchange="loadFile(this)">

                <label id="label21" for="chooseFile21"> 불러오기</label>
                <input type="file" id="chooseFile21" name="img21" accept="image/*" onchange="loadFile(this)">

                <label id="label22" for="chooseFile22"> 불러오기</label>
                <input type="file" id="chooseFile22" name="img22" accept="image/*" onchange="loadFile(this)">

                <label id="label23" for="chooseFile23"> 불러오기</label>
                <input type="file" id="chooseFile23" name="img23" accept="image/*" onchange="loadFile(this)">

                <label id="label24" for="chooseFile24"> 불러오기</label>
                <input type="file" id="chooseFile24" name="img24" accept="image/*" onchange="loadFile(this)">

                <label id="label25" for="chooseFile25"> 불러오기</label>
                <input type="file" id="chooseFile25" name="img25" accept="image/*" onchange="loadFile(this)">

                <label id="label26" for="chooseFile26"> 불러오기</label>
                <input type="file" id="chooseFile26" name="img26" accept="image/*" onchange="loadFile(this)">

                <label id="label27" for="chooseFile27"> 불러오기</label>
                <input type="file" id="chooseFile27" name="img27" accept="image/*" onchange="loadFile(this)">

                <label id="label28" for="chooseFile28"> 불러오기</label>
                <input type="file" id="chooseFile28" name="img28" accept="image/*" onchange="loadFile(this)">

                <label id="label29" for="chooseFile29"> 불러오기</label>
                <input type="file" id="chooseFile29" name="img29" accept="image/*" onchange="loadFile(this)">

                <label id="label30" for="chooseFile30"> 불러오기</label>
                <input type="file" id="chooseFile30" name="img30" accept="image/*" onchange="loadFile(this)">

              </div>

              <div class="fileInput">
                <p>FILE NAME: </p>
                <p id="fileName"></p>
              </div>
            </div>
          </div>
          <div class="editBox">
            <div class="editBoxM"
              style="position: relative; display: flex; justify-content: center; top: 15px; left: 5px;">
              <button type="button" style="margin-right: .5%; width: 40%;">배경 제거</button>
              <button type="button" id="textExtract" style="margin-left: .5%; width: 43%; left: 10px;">텍스트 추출</button>
            </div>
            <div class="imgSetting" style="position: relative; display: flex; justify-content: center; top:30px">
              <select id="selectImg"></select>&nbsp;&nbsp;
              <span>크기</span>&nbsp;
              <button type="button" id="plus" style="margin-right: 2.5px;">+</button>
              <button type="button" id="minus" style="margin-left: 2.5px;">-</button>
              &nbsp;&nbsp;
              <span>기울기</span>&nbsp;
              <button type="button" id="leftRotate" style="margin-right: 5px;">↺</button>
              <button type="button" id="rightRotate" style="margin-right: 5px;">↻</button>
              &nbsp;&nbsp;
              <button type="button" id="delImg" style="margin-right: 5px;">X</button>
            </div>
            <div style="position: relative; display: flex; justify-content: center; top:25px;">
              <span class="ticketForm1" style="visibility: hidden;">티켓폼</span>&nbsp;&nbsp;
              <select class="ticketForm2" style="visibility: hidden;">
                <option selected>선택안함</option>
                <option>티켓폼1</option>
                <option>티켓폼2</option>
                <option>티켓폼3</option>
                <option>티켓폼4</option>
              </select>
            </div>
            <div class="image-show" id="image-show">
              <img src="" class="image" id="image" />
            </div>
            <div style="position: relative; display: flex; justify-content: center; margin-top: 10px;">
              <button type="button" class="imgSubmit" id="imgSubmit" disabled style="margin-right: 1%;">업로드</button>
            </div>
          </div>


          <div id="canvasImg" style="display: none;"></div>
          <div id="canvasImgW" style="display: none;"></div>
          <div id="canvasImgH" style="display: none;"></div>
          <div id="canvasImgX" style="display: none;"></div>
          <div id="canvasImgY" style="display: none;"></div>
          <input id="imgNum" name="imgNum" style="display: none;" />
          <div id="checkImg" style="display: none;">
            <input id="checking1" name="checking1" value="" style="display: none;" />
          </div>
        </div>

        <div id="tab4" class="cont">
          Tab Content4
        </div>
        <div id="tab5" class="cont">
          Tab Content5
        </div>

      </div>
    </form>
  </div>

</body>

<script type="text/javascript" src="/static/js/tabscript.js"></script>
<script type="text/javascript" src="/static/js/wscript.js"></script>