{% load static %}

<head>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/font.css' %}">
  <link rel="stylesheet" href="{% static 'css/fontello.css' %}">

  <style>
    .hand-writing {
      font-family: "fontello";
      position: absolute;
      top: 300px;
      left: 300px;
      right: 400px;
      word-break: break-all;
      line-height: 130%
    }

    #hand-writing1 #hand-writing2 #hand-writing3 #hand-writing4 #hand-writing5 {
      font-family: "fontello";
    }
  </style>

  <title>MEMO:일기확인</title>

</head>

<body style="background-color: #F5F5DC;">

  <div style="display: none;">
    <canvas id="paper" width="880" height="600"></canvas>
  </div>

  <div style="display: none;">
    <input id="bc" value="{{ diary.backColor }}">

    <div id="content">{% for text in diaryText %}<textarea type="text">{{text.content}}</textarea>{% endfor %}</div>
    <div id="font">{% for text in diaryText %}<input value="{{ text.font }}">{% endfor %}</div>
    <div id="font_size">{% for text in diaryText %}<input value="{{ text.font_size }}">{% endfor %}</div>
    <div id="font_color">{% for text in diaryText %}<input value="{{ text.font_color }}">{% endfor %}</div>
    <div id="text_x">{% for text in diaryText %}<input value="{{ text.coordinateX }}">{% endfor %}</div>
    <div id="text_y">{% for text in diaryText %}<input value="{{ text.coordinateY }}">{% endfor %}</div>

    <div id="images">
      {% for image in diaryImage %}
      <img src="/media/{{image.image}}" width="{{image.width}}" height="{{image.height}}" />
      {% endfor %}
    </div>
    <div id="image_x">{% for image in diaryImage %}<input value="{{image.imageX}}">{% endfor %}</div>
    <div id="image_y">{% for image in diaryImage %}<input value="{{image.imageY}}">{% endfor %}</div>
    <div id="degree">{% for image in diaryImage %}<input value="{{image.degree}}">{% endfor %}</div>

    <div id="remove_images">
      {% for remove in diaryRemove %}
      <img src="/media/{{remove.path}}" width="{{remove.width}}" height="{{remove.height}}" />
      {% endfor %}
    </div>
    <div id="remove_x">{% for remove in diaryRemove %}<input value="{{remove.imageX}}">{% endfor %}</div>
    <div id="remove_y">{% for remove in diaryRemove %}<input value="{{remove.imageY}}">{% endfor %}</div>
    <div id="remove_degree">{% for remove in diaryRemove %}<input value="{{remove.degree}}">{% endfor %}</div>

    <div id="stickers">
      {% for sticker in diarySticker %}
      <img src="{{sticker.url}}" width="{{sticker.width}}" height="{{sticker.height}}" crossorigin="anonymous" />
      {% endfor %}
    </div>
    <div id="sticker_x">{% for sticker in diarySticker %}<input value="{{sticker.imageX}}">{% endfor %}</div>
    <div id="sticker_y">{% for sticker in diarySticker %}<input value="{{sticker.imageY}}">{% endfor %}</div>

  </div>

  <div style="position: relative; display: flex; justify-content: center; margin-top: 30px;">
    <div id="hashtags">{% for hashtag in diaryHashtag %}<a
        style="font-family: 'Jua', sans-serif; font-size:20px">#{{hashtag.hashtag}}</a>&nbsp;&nbsp;{% endfor %}</div>
  </div>

  <div
    style="position: absolute; display: flex; justify-content: center; margin-top: 10px; left: 50%; transform: translateX(-50%);">
    <img id="diary_canvas" src='' />
  </div>

  <div id="hand-writings">
    {% for text in diaryText %}<div class="hand-writing" id="">{{text.content}}</div>{% endfor %}
  </div>

  <div id="hand-writings"></div>


  <div style="position: relative; display: flex; justify-content: center; margin-top: 625px;">
    <button id="edit" type="button" onclick="Edit()"
      style="background-color: #E5D0AD; width: 5%; border: 0; border-radius: 20px; cursor: pointer; padding: 8px; margin-right: 10px; font-size: 30px; font-family: 'Jua', sans-serif; display: none;">수정</button>

    <button id="check" type="button" onclick="location.href = '/' "
      style="background-color: #E5D0AD; width: 5%; border: 0; border-radius: 20px; cursor: pointer;
        padding: 8px; margin-left: 10px; margin-left: 10px; font-size: 30px; font-family: 'Jua', sans-serif; display: none;">확인</button>

  </div>


</body>

<script type="text/javascript" src="/static/js/detail_script.js"></script>