{% load static %}

<head>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/font.css' %}">

</head>

<body style="background-color: #F5F5DC;">

  <div style="display: none;">
    <canvas id="paper" width="880" height="600"></canvas>
  </div>

  <div style="display: none;">
    <input id="content" value="{{ diaryText.content }}">
    <input id="font" value="{{ diaryText.font }}">
    <input id="font_size" value="{{ diaryText.font_size }}">
    <input id="font_color" value="{{ diaryText.font_color }}">
    <input id="text_x" value="{{ diaryText.coordinateX }}">
    <input id="text_y" value="{{ diaryText.coordinateY }}">

    <div id="images">
      {% for image in diaryImage %}
      <img src="/media/{{image.image}}" width="{{image.width}}" height="{{image.height}}" />
      {% endfor %}
    </div>
    <div id="image_x">{% for image in diaryImage %}<input value="{{image.imageX}}">{% endfor %}</div>
    <div id="image_y">{% for image in diaryImage %}<input value="{{image.imageY}}">{% endfor %}</div>
  </div>

  <div style="position: relative; display: flex; justify-content: center; margin-top: 50px;">
    <img id="diary_canvas" src="" style="background-color: white;" />
  </div>

</body>

<script type="text/javascript" src="/static/js/detail_script.js"></script>