{% extends "diary/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-primary">{{ diary }}</h3>
            <p class="m-0 font-weight-bold text-primary">{{ diary.user }}</p>
            <p class="m-0 font-weight-bold text-primary">{{ diary.created_date }}</p>
        </div>
        <div class="card-body">
            <div class="chart-area">
                <div class="m-0 text-primary">{{ diary.content }}</div>
            </div>
        </div>
        <a class="btn btn-default" href="{% url 'edit' diary_id=diary.id %}">edit</a>
    </div>
</div>
{% endblock %}