<body>
  <div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">{{ diary }}</h3>
        <p class="m-0 font-weight-bold text-primary">{{ diary.created_date }}</p>
        <p class="m-0 font-weight-bold text-primary">{{ text.content }}</p>
        <p class="m-0 font-weight-bold text-primary">{{ image0 }}</p>
      </div>
    </div>
  </div>
</body>

<script type="text/javascript" src="/static/js/viewScript.js"></script>