{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <title>MEMO:일기검색</title>
</head>

<body bgcolor='#F5F5DC'>
  <!-- 사이드바 -->
  <div class="l-navbar" id="navbar">
    <nav class="nav">
      <div>
        <div class="nav__brand">
          <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
          <a href="#" class="nav__logo">MEMO</a>
        </div>
        <div class="nav__list">
          <a href="/diary/search" class="nav__link active">
            <ion-icon name="search" class="nav__icon"></ion-icon>
            <span class="nav_name">일기 검색</span>
          </a>
          <a href="/" class="nav__link">
            <ion-icon name="home-outline" class="nav__icon"></ion-icon>
            <span class="nav_name">캘린더</span>
          </a>
          <a href="/diary/handwriting" class="nav__link">
            <ion-icon name="pencil-outline" class="nav__icon"></ion-icon>
            <span class="nav_name">손글씨 등록</span>
          </a>
        </div>
        <a href="/accounts/logout/" class="nav__link">
          <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
          <span class="nav_name">Log out</span>
          <!--href="accounts/logout/"-->
        </a>
      </div>
    </nav>
  </div>


     {% block content %}
    <div style="text-align:center">
        <h1>Search Diary</h1>
        <br><br>
        <form method='GET' action=".">
            Search Word:
            <input type="text" id="search_key" name="q" value="{{ q }}" style="padding:8px; border:0; width:15%;" >
            <input id = "search_button" type="submit"  value="검색"/>
            <br><br>
            <div id='result'></div>
          </form>


<!--       <div id="content" style="display: none;">-->
<!--&lt;!&ndash;            {% for text in search %}<textarea type="text">{{text.content}}</textarea>{% endfor %}</div>&ndash;&gt;-->
<!--            {% for text in search %}-->
<!--           <div style="border:1px;">{{text.diary}}</div>-->
<!--           <div>{{text.content}}</div>-->

<!--           <br><br>{% endfor %}</div>-->

<!--        </div>-->

    <br>



<div id="content" style="display: none;">
    {% for text in search %}
    <div style="float: left; width: 20%; padding:10px;">
        <a href="/diary/detail/{{user}}/{{text.diary_id}}" >
            {{text.diary}}
            {{text.id}}
            일기 보기 ღ'ᴗ'ღ

        <a>
    </div>
    <div style="float: left; width: 75%; padding:10px;">
    {{text.content}}
    </div>
<br><br>{% endfor %}</div>



    {% endblock %}



</body>

<!--사이드바-->
<!-- IONICONS -->
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<!-- JS -->
<script type="text/javascript" src="/static/js/barScript.js"></script>

<script>
    if(document.getElementById("search_key").value != ""){
        const search_key = document.getElementById('search_key').value;
        document.getElementById("result").innerText = '"'+search_key+'"'+'에 대한 검색 결과입니다.';
        document.getElementById("content").style.display = "block";
    }
</script>