<!-- 
3. 마우스 커서는 시도도 못해봤다 ㅠㅠ
4. canvas 칸 안 나가게
4. DB에 글이랑 저장해야한다. -->


<html>

<body>
  <!-- style="border:1px solid rgb(236, 236, 182)" rgb(245,245,220) -->
  <canvas id="paper" width="500" height="500" style="background-color: rgb(236, 236, 182);"></canvas>
  <input type="text" id="UserInput">
  <button onclick="inputText()">입력</button>
  <button onclick="deleteText()">지우기</button>
</body>

</html>

<script type="text/javascript">

  var canvas = document.getElementById("paper");
  var ctx = canvas.getContext("2d");

  ctx.font = "30px Arial";

  var UserInput = document.getElementById("UserInput");

  // x=DB에서 가져온 x 값 | y=DB에서 가져온 y 값
  const x = 100
  const y = 100

  // 마우스 클릭 위치 받아오기: 디비 이용해서 초기값(100, 100)하고 클릭하면 디비에 다시 저장해서 불러와서 할 것
  canvas.onclick = function (event) {
    x = event.clientX - ctx.canvas.offsetLeft;
    y = event.clientY - ctx.canvas.offsetTop;
    alert("x:" + x + ", y:" + y)
  }

  UserInput.oninput = function () {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    ctx.beginPath();
    ctx.font = "30px Arial";
    ctx.fillText(UserInput.value, x, y);
  }

</script>